a-presentation {
  color: white;
}

a-slide:before {
  /* Use this so that it blurs just the background image, and not
   * the foreground text */
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  /* Hack to get rid of the white border after blurring */
  transform: scale(1.02);

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

a-slide.theme-orange:before {
  /* lol OMG */
  background: url("http://farm4.staticflickr.com/3712/10194610465_1e3d7c6d29_z_d.jpg")
      center center no-repeat,
      -webkit-linear-gradient(top, rgb(241, 90, 36) 0%, rgba(252, 238, 0, 1.1) 100%);
  background: url("http://farm4.staticflickr.com/3712/10194610465_1e3d7c6d29_z_d.jpg")
      center center no-repeat,
      -moz-linear-gradient(top, rgb(241, 90, 36) 0%, rgba(252, 238, 0, 1.1) 100%);
  background: url("http://farm4.staticflickr.com/3712/10194610465_1e3d7c6d29_z_d.jpg")
      center center no-repeat,
      -ms-linear-gradient(top, rgb(241, 90, 36) 0%, rgba(252, 238, 0, 1.1) 100%);
  background: url("http://farm4.staticflickr.com/3712/10194610465_1e3d7c6d29_z_d.jpg")
      center center no-repeat,
      linear-gradient(top, rgb(241, 90, 36) 0%, rgba(252, 238, 0, 1.1) 100%);

  background-blend-mode: multiply;
  background-size: cover;
}

a-slide.theme-blue:before {
  background: url("http://farm4.staticflickr.com/3712/10194610465_1e3d7c6d29_z_d.jpg")
      center center no-repeat,
      -webkit-linear-gradient(top, rgba(11, 0, 48, 0.8) 0%, rgba(184, 66, 129, 0.8) 100%);
  background: url("http://farm4.staticflickr.com/3712/10194610465_1e3d7c6d29_z_d.jpg")
      center center no-repeat,
      -moz-linear-gradient(top, rgba(11, 0, 48, 0.8) 0%, rgba(184, 66, 129, 0.8) 100%);
  background: url("http://farm4.staticflickr.com/3712/10194610465_1e3d7c6d29_z_d.jpg")
      center center no-repeat,
      -ms-linear-gradient(top, rgba(11, 0, 48, 0.8) 0%, rgba(184, 66, 129, 0.8) 100%);
  background: url("http://farm4.staticflickr.com/3712/10194610465_1e3d7c6d29_z_d.jpg")
      center center no-repeat,
      linear-gradient(top, rgba(11, 0, 48, 0.8) 0%, rgba(184, 66, 129, 0.8) 100%);

  background-blend-mode: multiply;
  background-size: cover;
}
